
.image{
    border-radius: 21px;
}
.image2{
    border-radius: 11px;
    display: none;
}

@media screen and (max-width:1351px){
    .card{
        width: calc(100% / 3.3);
    }   
}

@media screen and (max-width:1340px){
    .header-h1{
        font-size: 77px;
    }
    .header-top{
        gap: 130px;
    }
    .menu-icon-body{
        display: flex;
    }
    #nav{
        display: none !important;
    }
    .pop-up-card-body{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:1215px){
    .leftImage{
        width: 350px;
        height: 100px;
    }
    .rightImage{
        width: 350px;
        height: 100px;
    }
    .organizers-body{
        padding: 55px 73.12px 113.26px 75px;
    }
}

@media screen and (max-width:1200px){
    .normal-mode{
        display: flex;
        flex-direction: column;
    }
    .organize-img-body{
        gap: 70px;
    }
    .image-field{
        display: flex;
        justify-content: center;
    }
    .container .sticky-content1[data-v-0e0ec1c6] {
        translate: 0 -560px;
        margin-top: 820px;
    }
    .container .sticky-content2[data-v-0e0ec1c6] {
        translate: 0 -500px;
    }

    .about-head-name{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .about-description{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .banner{
        margin-top: 80px;
        padding: 21px 90px 19.69px 90px;
    }
    .footerTop{
        padding-left: 90px;
        padding-right: 90px;
    }
    .footerBottom{
        padding-left: 90px;
        padding-right: 90px;
    }
    .mainBox{
        padding: 31px 90px 31px 90px;
    }
}

@media screen and (max-width:1047px){
    .banner{
        gap: 40px;
    }
    .leftImage{
        width: 300px;
        height: 100px;
    }
    .rightImage{
        width: 300px;
        height: 100px;
    }
}

@media screen and (max-width:992px){
    .banner{
        padding: 21px 60px 19.69px 60px;
    }
    .bannerItem img{
        width: 200px;
        height: 72px;
    }
    .footerTop{
        padding-right: 60px;
        padding-left: 60px;

    }
    .footerBottom{
        padding-right: 60px;
        padding-left: 60px;
    }
    .mainBox{
        padding-left: 60px;
        padding-right: 60px;
    }
    .leftImage{
        width: 250px;
        height: 100px;
    }
    .rightImage{
        width: 250px;
        height: 100px;
    }
    .image{
        display: none;
    }
    .image2{
        display: block;
        width: 100%;
    }
    .image-about-field{
        gap: 30px;
    }
    .start-up-body{
        display: none;
    }
    .reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 2s ease;
    }
    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }
    .sticky-content3{
        translate: 0 -550px !important;
    }
    .container .sticky-content2[data-v-0e0ec1c6]{
        translate: 0 -549px !important;
    }
}

@media screen and (max-width:849px){
    .footerText{
        font-size: 11px;
    }
    .footer-logo img{
        width: 150px;
    }
    .leftImage{
        width: 200px;
        height: 100px;
    }
    .rightImage{
        width: 200px;
        height: 100px;
    }
    .image{
        width: 100%;
    }
}

@media screen and (max-width:813px){
    .card-body{
        justify-content: center;
    }
    .card{
        width: calc(100% / 2.2);
    }
    .about-box{
        padding-right: 24px;
    }
    .about-description{
        margin-top: 30px;
    }
    .popup-description{
        font-size: 15px;
    }
    .popup-text{
        font-size: 80px;
    }
    .footerBottom{
        padding: 29.02px 98px 24.98px 83px;
    }
    .footerTop{
        padding: 42px 0px 98px 83px;
    }
    .image-about-field{
        padding:21px 21px 21px 23px
    }
}

@media screen and (max-width:792px){
    .bannerItem img{
        width: 150px;
        height: 65px;
    }  
    .header-bottom{
        padding: 65.19px 0px 0px 0px;
    }
}

@media screen and (max-width:724px){
    .container .sticky-content1[data-v-0e0ec1c6]{
        margin-top: 690px;
    }
    .header-h1{
        font-size: 68px;
    }
    .leftImage{
        width: 150px;
        height: 100px;
    }
    .rightImage{
        width: 150px;
        height: 100px;
    }
    .about-box{
        border-radius: 6.051px;
    }
}

@media screen and (max-width:653px){
    .bannerItem img{
        width: 100px;
        height: 40px;
    }
}

@media screen and (max-width:619px){
    .header-h1{
        font-size: 55px;
    }
    .footerLeft a{
        font-size: 10px;
    }
    .popup-text{
        font-size: 50px;
    }
    .leftImage{
        width: 120px;
        height: 100px;
    }
    .rightImage{
        width: 120px;
        height: 100px;
    }
    .organize-img-body{
        margin-top: 20px;
    }
    .header-map{
        height: 512px;
    }
}

@media screen and (max-width:576px){
    .header-h1{
        font-size: 50px;
    }
    .start-head-text{
        font-size: 50px;
    }
    .about-description{
        font-size: 14px;
    }
    .about-head-name{
        color: #232323;
        font-size: 23.835px;
        font-style: normal;
        font-weight: 500;
        line-height: 17.708px;
        letter-spacing: -0.553px;
    }
    .organizers-body{
        padding: 55px 73.12px 73.26px 75px;
    }
    .leftImage{
        width: 90px;
        height: 100px;
    }
    .rightImage{
        width: 90px;
        height: 100px;
    }

    .header-map{
        height: 440px;
    }
    .about-box{
        padding: 18px 18px 15px 19px;
    }

    .image-about-field{
        gap: 15px;
    }
}

@media screen and (max-width:518px){
    .card{
        width: calc(100% / 2.3);
    }
}

@media screen and (max-width:506px){
   .bannerItem img{
        width: 70px;
   }
   .leftImage{
        width: 80px;
        height: 100px;
    }
    .rightImage{
        width: 80px;
        height: 100px;
    }
    .organizers-body-text{
        font-size: 33px;
    }
    .organizers-body{
        padding: 45px 53.12px 43.26px 45px;
    }
    .header-map{
        height: 377px;
    }
}

@media screen and (max-width:472px){
    .card{
        width: calc(100% / 2.29);
    }
    .about-description{
        font-size: 10px;
    }
    .footerTop{
        padding: 42px 0px 45px 83px;
    }

    .header-map{
        height: 357px;
    }

}

@media screen and (max-width:461px){
    .about-description{
        font-size: 11px;
    }
    .container .sticky-content > div[data-v-0e0ec1c6]{
        width: 100%;
    }
    .header-h1{
        font-size: 36px;
    }
    .Logo img{
        width: 150px;
    }
    .organize-img-body{
        gap: 0px;
    }
    .footerText{
        font-size: 8px;
    }

    .header-map{
        height: 340px;
    }
}

@media screen and (max-width:458px){
    .footerLeft a{
        font-size: 7px;
    }

    .header-map{
        height: 310px;
    }
}

@media screen and (max-width:410px){
    .card{
        width: calc(100% / 1);
    }

    .image-about-field{
        gap: 7px;
    }
    .about-description{
        color: #000;
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 13.101px;
        letter-spacing: 0.049px;
        font-family: San Francisco;
    }
    .about-head-name{
        color: #232323;
        font-family: Space Grotesk;
        font-size: 13.835px;
        font-style: normal;
        font-weight: 500;
        line-height: 17.708px;
        letter-spacing: -0.553px;
    }
    .Logo img{
        width: 100px;
    }
    .organizers-body-text{
        font-size: 38px;
    }
    .footerText{
        font-size: 7px !important;
        max-width: 230px;
    }
    .footerBottom{
        padding-right: 40px;
    }
    .footerText{
        max-width: 270px;
    }
    .banner{
        padding: 21px 18px 19.69px 18px;
    }
    .footerTop{
        padding-left: 18px;
        padding-right: 18px;
    }
    .footerBottom{
        padding-left: 18px;
        padding-right: 18px;
    }
    .mainBox{
        padding-left: 18px;
        padding-right: 19px;
    }
    .image-about-field{
        padding: 7px 6px 6px 6px;
    }
    .image{
        width: 100%;
        border-radius: 21px;
    }

    .about-box{
        padding: 9px 18px 15px 19px;
        border-radius: 6.051px;
        border: 0.288px solid #000;
    }
    .image-about-field[data-v-0e0ec1c6]{
        border-radius: 6.051px;
        border: 0px;
        box-shadow: none;
    }
    .about-item{
        border: none;
        border-radius: 6.051px;
    }
    .about-description{
        margin-top: 11px;
    }
}

@media screen and (max-width:369px){
    .footerText{
        max-width: 203px;
    }
    .header-map{
        height: 250px;
    }
}