/* header */

header {
  width: 100vw;
  background-color: white;
}

.header-top {
  padding: 33px 9.145833333333332% 36.81px 9.027777777777779%;
  display: flex;
  justify-content: space-between;
  gap: 170px;
}

.header-top #nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-top #nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top #nav ul li a {
  font-style: normal;
  font-size: 19.1017px;
  line-height: 23px;
  color: #000;
}

.header_bold_text {
  font-style: normal;
  font-weight: 700;
  font-size: 121.077px;
  line-height: 123px;
  text-align: center;
  color: #313131;
  max-width: 949px;
  margin-top: 15px;
  margin-bottom: 84px;
}

.header-bottom {
  background: radial-gradient(
    42.93% 42.93% at 50% 50%,
    #ffead5 0%,
    rgba(255, 234, 213, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 145.19px 0px 0px 0px;
}

.orange-text {
  color: #ff8100;
}

.header-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 101px;
  text-align: center;
  color: #313131;
}

.header-map {
  background-image: url('../images/Group 384.png');
  background-size: contain;
  background-position: center;
  width: 93vw;
  height: 616px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  margin-top: 80px;
}


.header-map-bg {
  width: 1082px;
  height: 956px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  margin-top: 60px;
}


/* footer */

footer {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #000053;
}

.footerTop {
  padding: 42px 0px 62.83px 151.5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}

.footerBottom {
  width: 100%;
  padding: 29.02px 138px 24.98px 153px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  gap: 20.86px;
}

.footerLeft a {
  font-style: normal;
  font-weight: 300;
  font-size: 15.6878px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.footerText {
  max-width: 323px;
  font-style: normal;
  font-weight: 300;
  font-size: 15.0592px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.161348px;
  color: #ffffff;
  margin-top: 20.92px;
}

.image-about-field {
  display: flex;
  gap: 54px;
}

.footerRight {
  gap: 37px;
  display: flex;
}


.menu-icon-body{
  align-items: center;
  display: none;
}

.menu-icon-body img{
  width: 30px;
  height: 30px;
}